<div class="container">
    <h2 class="page-title">书品信息编辑</h2>
    <br/>
    
    <ul class="entity-tabular-fields">
        <li class="entity-field-row">
            <label>产品代码：</label>
            <span class="field-control">
                <input type="text" ng-model="currentBook.code"/>
                <label></label>
            </span>
        </li>
        <li class="entity-field-row">
            <label>产品名称：</label>
            <span class="field-control">
                <input type="text" ng-model="currentBook.name" />
                <label></label>
            </span>
        </li>
        <li class="entity-field-row">
            <label>作者：</label>
            <span class="field-control">
                <input type="text" ng-model="currentBook.author"/>
            </span>
            <label></label>
        </li>
    </ul>
</div>